<html>
<head>

</head>
<body>
    <input type="file" id="file-input"/>
    <!--<h3>Contents of the file:</h3>
    <pre id="file-content"></pre>-->
</body>
<script>
    async function readSingleFile(e) {
        var file = e.target.files[0];
        if (!file) {
            return;
        }
        
        let formData = new FormData();
        formData.append('clientFile', file);
        var data = {
        };
        const options = {
            method: "POST",
            headers: {
                //"Content-Type": "application/json",
                //"Content-Type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            },
            //body: JSON.stringify(data),
            //body: file,
            body: formData,
        };

        const response = await fetch("/Check_xlsx", options);
        const json = await response.json();
        alert(json["status"]);
    }

    document.getElementById('file-input').addEventListener('change', readSingleFile);
</script>
</html>