<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link type="text/css" rel="stylesheet" href="/chat.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap" rel="stylesheet">        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.3/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.3/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            /*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));*/
            background: -webkit-linear-gradient(to right, rgba(220, 181, 255, 0.9), rgba(132, 193, 255, 0.9));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            /*background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));*/
            background: linear-gradient(to right, rgba(220, 181, 255, 0.9), rgba(132, 193, 255, 0.9));
        }

        .selected{
          fill: blue !important
        }

        /*.pie {
            margin: auto;
            width: 80%;
            min-width: 200px;
            margin: auto;
        }*/
        .basicDonut {
        margin: auto;
        width: 80%;
        min-width: 200px;
        margin: auto;
        text-align:center
    }

    /*加陰影 */
    .top10_money2 svg {
        filter: drop-shadow( 0px 6px 6px rgba(0,0,0,.25) );
        }

    /*資料軸線*/
    .top10_money2 polyline {
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }

    /* 字體加粗*/
    .labelName tspan {
        font-style: normal;
        font-weight: 700;
    }

    /* 字形 */
    .labelName {
        font-size: 0.9em;
        font-style: italic;
    }

    #app {
      font-family: sans-serif;
      border: 1px solid #eee;
      border-radius: 2px;
      padding: 20px 30px;
      margin-top: 1em;
      margin-bottom: 40px;
      user-select: none;
      overflow-x: auto;
    }

    .tab-button {
      padding: 6px 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid #ccc;
      cursor: pointer;
      background: #f0f0f0;
      margin-bottom: -1px;
      margin-right: -1px;
    }
    .tab-button:hover {
      background: #e0e0e0;
    }
    .tab-button.active {
      background: #e0e0e0;
    }
    .demo-tab {
      border: 1px solid #ccc;
      padding: 10px;
    }

    .dynamic-component-demo-posts-tab {
      li {
        margin-bottom: 1.5rem;
      }
    }

    body {background-color: rgba(173, 214, 255, 0.3);}

    </style>
</head>
<body>

    <!--navbar-->
    
    <nav class="navbar navbar-expand-lg navbar-light gradient-custom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mongodb
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/Chatroom">ChatRoom</a></li>
                  <li><a class="dropdown-item" href="/Travel">Travel Accommodation Website</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Vue.js
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/Test">Test</a></li>
                  <li><a class="dropdown-item" href="/ChartJs">ChartJs</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <!--navbar-->
    <!--<nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">a</div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">b</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">c</div>
    </div>-->
    
    <div class="container">
      <div id="app">
        <div class="row">
          <div class="row">
            <input type="file" @change="handleFileChange" />
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            <button
              v-for="tab in tabs"
              :key="tab"
              :class="['tab-button', { active: currentTab === tab }]"
              @click="draw(tab)">
            {{ tab }}
          </button>
          </div>
            <component  
                        :is="currentTabComponent"
                        @top10-House-click="handleTop10HouseClick" 
                        @top10-Service-click="handleTop10ServiceClick"
                        @top10-Other-click="handleTop10OtherClick" 
                        @top10-Industry-click="handleTop10IndustryClick"
                        @delete-click="deleteClick">
            </component>
        </div>
      </div>
    </div>
    
    <script>

      var top10A = new Array;
      var top10B = new Array;
      var top10C = new Array;
      var top10D = new Array;
      var top10_money = new Array;
      var top10_number = new Array;
      var now_page;
      async function getData(dataGet) {
        // 取資料
        
        var result = [];
        // 遍歷數據
        dataGet.forEach(item => {
          // 檢查是否包含 '縣市' 和 '合計售電量'
          if (item['縣市']) {
            // 創建新的物件來存儲結果
            const newItem = {
              '縣市': item['縣市'],
              '合計售電量(度)': item['合計售電量(度)'],
            };

            // 提取 '售電量(度)' 並添加到新的物件中
            ['A', 'B', 'C', 'D'].forEach(key => {
              if (item[key] && item[key]['售電量(度)']) {
                newItem[`${key}售電量`] = parseInt(item[key]['售電量(度)'].replace(/,/g, ''), 10);
                newItem[`${key}初始售電量`] = parseInt(item[key]['售電量(度)'].replace(/,/g, ''), 10);
              }
            });

            // 添加到結果數組中
            result.push(newItem);
          }
        });
        //console.log(result);

        if( top10A[0] != undefined ){
          top10A = [];
          top10B = [];
          top10C = [];
          top10D = [];
        }
        for(var i = 0; i < 10; i++){
          top10A.push(result[i]);
          top10B.push(result[i]);
          top10C.push(result[i]);
          top10D.push(result[i]);
        }

        for(var j = 10; j < result.length; j++){
          for(i = 0; i < 10; i++){
            if( result[j]["A售電量"] > top10A[i]["A售電量"] ){
              top10A[i] = result[j];
              break;
            }
          }
          for(k = 0; k < 10; k++){
            if( result[j]["B售電量"] > top10B[k]["B售電量"] ){
              top10B[k] = result[j];
              break;
            }
          }
          for(i = 0; i < 10; i++){
            if( result[j]["C售電量"] > top10C[i]["C售電量"] ){
              top10C[i] = result[j];
              break;
            }
          }
          for(k = 0; k < 10; k++){
            if( result[j]["D售電量"] > top10D[k]["D售電量"] ){
              top10D[k] = result[j];
              break;
            }
          }
        }

        top10A = BubbleSort(top10A , "A售電量");
        top10B = BubbleSort(top10B , "B售電量");
        top10C = BubbleSort(top10C , "C售電量");
        top10D = BubbleSort(top10D , "D售電量");
        //console.log(top10B);
        //console.log(top10A);
        //console.log(top10_money)
        //console.log(top10_number)
        //draw_top10_money(top10_money);
        now_page = "top10A";
        updateDonut(top10A);
        //////////////////////////////////////////////////////////
      };
  
      function updateDonut(dataset){
        
        const svgWidth = parseInt(d3.select(".top10_money2").style("width")),
              svgHeight = svgWidth*0.5,
              margin = 40;
  
        d3.select('svg').remove()
        // 先設定 svg 大小
        d3.select('.top10_money2').style('position', 'relative')
        const svg = d3.select(".top10_money2")
                      .append("svg")
                      .attr("width", svgWidth)
                      .attr("height", svgHeight)
                      .append("g");
  
        // 設定圖表寬高與圓弧半徑
        const width = svgWidth-margin*2;
        const height = svgHeight-margin*2;
        // radius設定圓餅圖的圓弧大小，是區域的一半
        const radius = Math.min(width, height)/2;
  
        var color = d3.scaleOrdinal()
                .range(["#4288b5","#4da3b1","#65baaa", '#a2d9a3', '#d8ef9f', '#f7faaf', '#fee89a', '#fdbf70', '#ef6d4a', '#d13c4b']);
        
        if( now_page == "top10A" ){
          fieldname = "A售電量"
          fieldname2 = "A初始售電量"
        }
        else if( now_page == "top10B" ){
          fieldname = "B售電量"
          fieldname2 = "B初始售電量"
        }
        else if( now_page == "top10C" ){
          fieldname = "C售電量"
          fieldname2 = "C初始售電量"
        }
        else{
          fieldname = "D售電量"
          fieldname2 = "D初始售電量"
        }
        console.log(fieldname);
        const pie = d3.pie()
                      //.sort(null)
                      //.value(d => d.values);
                      .value(d => d[fieldname]);
  
        const arc = d3.arc().innerRadius(radius*0.3).outerRadius(radius*0.6).padAngle(.02);
        
        // 建立甜甜圈圖 
        svg.attr("transform", "translate(" + svgWidth / 2 + "," + svgHeight / 2 + ")");
        console.log(dataset);
        var path = svg.selectAll('path')
                .data(pie(dataset))
                .enter()
                .append('path')
                .attr('d', arc)
                .attr('fill', (d,i)=> color(i))
          
        path.exit().remove()
        
        // 綁定文字標籤要顯示的內容
        svg.append('text')
                .attr('class', 'toolCircle')
                .attr('dy', 0) 
                .html('住宅用電Top10')
                .style('font-size', '.9em')
                .style('text-anchor', 'middle');
  
        // 創建tooltip
        const tooltips = d3.select(".top10_money2")
                    .append("div")
                    .style("opacity", 0)
                    .style('position', 'absolute')
                    .attr("class", "tooltip")
                    .style("background-color", "white")
                    .style("border", "solid")
                    .style("border-width", "2px")
                    .style("border-radius", "5px")
                    .style("padding", "5px")
  
        // 滑鼠互動 mouseover、mouseleave
        d3.selectAll('path')
              .style('cursor', 'pointer')
              .on('mouseover', function(){
                tooltips.style("opacity", 1)
                d3.select(this)
                  .transition()
                  .duration(500)
                  .style("filter", "drop-shadow(2px 4px 6px black)")
                  .style('transform', 'scale(1.1)')
              })
              .on('mousemove', function(d){
                console.log(d.target.__data__.data["縣市"] +" , "+fieldname) ;
                
                let pt = d3.pointer(event, this)
                tooltips.style("opacity", 1)
                        .html(d.target.__data__.data["縣市"]+"<br>"+d.target.__data__.data[fieldname])
                        .style('left', pt[0]+(svgWidth / 2)+30+'px')
                        .style('top', pt[1]+(svgHeight / 2)+'px')
              })
              .on('mouseleave', function(){
                tooltips.style("opacity", 0)
                d3.select(this)
                  .transition()
                  .duration(500)
                  .style("filter", "drop-shadow(0 0 0 black)")
                  .style('transform', 'scale(1)')
              })
  
        const bar = svg.selectAll("rect")
                        .data(dataset)
                        .join("rect")
                        .attr("x", (d,i)=> {return button_Set_x(d,i)})
                        .attr("y", radius/2.0*1.4)
                        .attr("width", 20)
                        .attr("height", 10)
                        .attr('fill', (d,i)=> color(i))
  
        d3.selectAll('rect')
              .style('cursor', 'pointer')
              .on('mousedown', function(d){
                if( d.target.__data__[fieldname] !== 0 ){
                  //console.log(d.target.__data__[fieldname]);
                  //console.log(d.target.__data__["縣市"]);
                  for(var i = 0; i < dataset.length; i++){
                    if( dataset[i]["縣市"] == d.target.__data__["縣市"] ){
                      //console.log(data);
                      dataset[i][fieldname] = 0;
                    }
                  }
                }
                else{
                  //console.log(d.target.__data__["縣市"]);
                  for(var i = 0; i < dataset.length; i++){
                    if( dataset[i]["縣市"] == d.target.__data__["縣市"] ){
                      dataset[i][fieldname] = dataset[i][fieldname2];
                    }
                  }
                }
                
                updateDonut(dataset)
        })
      }
  
      function button_Set_x(d,i){
              if( i%2 == 0 ){
                return (i/2.0)*-30-25;
              }
              else{
                return (Math.ceil(i/2.0))*30-25;
              }
      }
        
        document.addEventListener('DOMContentLoaded', async function(){
          //預先使用api讀取已上傳的所有csv檔
          try {
  
            Swal.fire({
                title: '請稍候...',
                text: '正在讀取中...',
                allowOutsideClick: false,
                showConfirmButton: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
            
                const options = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: "",
                };
                
                try {
                  const temp = await fetch('/readAllCSV', options);
                  var response = await temp.json();
              
                } catch (error) {
                    // 處理錯誤
                    Swal.fire({
                        icon: 'error',
                        title: '出錯了',
                        text: error.message,
                    });
                } finally {
                    // 關閉 loading 框
                    Swal.close();
                    console.log(response);
                }
                
                const { createApp, nextTick } = Vue;
                app = Vue.createApp({
                  data() {
                    return {
                      currentTab: response.filename[0] || '',
                      tabs: response.filename || [],
                      file: response.file || [],
                      without_tab: '',
                    }
                  },
                  computed: {
                    currentTabComponent() {
                      if( this.currentTab != '' && this.currentTab != undefined ){
                        this.without_tab = false;
                        return `tab-${ this.currentTab.toLowerCase() }`;
                      }
                      else{
                        this.without_tab = true;
                        return "";
                      }
                    }
                  },
                  methods: {
                    async handleFileChange(e) {
                      try {
                        const fileInput = e.target;
                        const file = e.target.files[0];
                        if (!file) return;
                        const csvData = await this.readCSVFile(file);
                        this.handleFileUploaded(csvData.fileName, csvData);
                        // 重置文件输入控件
                        fileInput.value = '';
                      } catch (error) {
                        console.error('Error reading CSV file:', error);
                      }
                    },
                    async readCSVFile(file) {
                      return new Promise((resolve, reject) => {
                        const reader = new FileReader();
                        reader.readAsText(file, 'Big5'); // 根據 CSV 檔案的實際編碼格式進行修改
                        reader.onload = (event) => {
                          try {
                            const csvString = event.target.result;
                            const data = d3.csvParse(csvString); // 使用 d3.csvParse 解析 CSV
                            const dotIndex = file.name.lastIndexOf('.');
                            resolve({
                                fileName: file.name.substring(0, dotIndex),
                                data: data
                            });
                          } catch (error) {
                            reject(error);
                          }
                        };
                        reader.onerror = (event) => {
                          reject(event.target.error);
                        };
                      });
                    },
                    async handleFileUploaded(fileName, data) {
                      if( this.without_tab == true ){ //當前沒有分頁時才需指定上傳的分頁為目標分頁
                        this.currentTab = fileName;
                      }
                      this.tabs.push(fileName);
                      this.file.push(data);
                      app.component('tab-'+fileName, {
                        template: `<div class="demo-tab">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-2"><button class="btn btn-secondary" @click="handleTop10HouseClick">住宅top10</button></div>
                                            <div class="col-2"><button class="btn btn-secondary" @click="handleTop10ServiceClick">服務業top10</button></div>
                                            <div class="col-2"><button class="btn btn-secondary" @click="handleTop10OtherClick">農林漁牧top10</button></div>
                                            <div class="col-2"><button class="btn btn-secondary" @click="handleTop10IndustryClick">工業top10</button></div>
                                            <div class="col-2"></div>
                                            <div class="col-2"><button class="btn btn-danger" @click="deleteClick">刪除此頁</button></div>
                                          </div>
                                        <div class="row">
                                          <div class="col-1"></div>
                                          <div class="col-10">
                                            <div class="top10_money2"></div>
                                          </div>
                                        </div>
                                    </div></div>`,
                        methods: {
                          handleTop10HouseClick() {
                            this.$emit('top10-House-click');
                          },
                          handleTop10ServiceClick() {
                            this.$emit('top10-Service-click');
                          },
                          handleTop10OtherClick() {
                            this.$emit('top10-Other-click');
                          },
                          handleTop10IndustryClick() {
                            this.$emit('top10-Industry-click');
                          },
                          deleteClick(){
                            this.$emit('delete-click');
                          }
                        }
                      });
                      if( this.without_tab == true ){ //當前沒有分頁時掛載完子元件 顯示子元件
                        this.draw(fileName);
                      }
                      //將檔案寫至server資料夾內
                      const options = {
                                  method: "POST",
                                  headers: {
                                          "Content-Type": "application/json",
                                  },
                                  body: JSON.stringify(data),
                      };
  
                      const response = await fetch("/save_file", options);
                      const json = await response.json();
                      console.log(json);
                    },
                    draw(tab) {
                      this.currentTab = tab;
                      nextTick(() => {
                        const index = this.tabs.indexOf(tab);
                        if (index !== -1) {
                          getData(this.file[index].data);
                        }
                      });
                    },
                    handleTop10HouseClick() {
                      now_page = "top10A";
                      fieldname = "A售電量"
                      fieldname2 = "A初始售電量"
                      updateDonut(top10A);
                    },
                    handleTop10ServiceClick() {
                      now_page = "top10B";
                      fieldname = "B售電量"
                      fieldname2 = "B初始售電量"
                      updateDonut(top10B);
                    },
                    handleTop10OtherClick() {
                      now_page = "top10C";
                      fieldname = "C售電量"
                      fieldname2 = "C初始售電量"
                      updateDonut(top10C);
                    },
                    handleTop10IndustryClick() {
                      now_page = "top10D";
                      fieldname = "D售電量"
                      fieldname2 = "D初始售電量"
                      updateDonut(top10D);
                    },
                    async deleteClick(){
                      Swal.fire({
                        title: "請確認是否要刪除此分頁?",
                        //text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#d33",
                        cancelButtonColor: "#3085d6",
                        confirmButtonText: "刪除",
                        cancelButtonText: "取消"
                      }).then(async (result) => {
                        if (result.isConfirmed) {
                          let index = this.tabs.indexOf(this.currentTab);
                          if (index !== -1) {
                            const options = {
                                          method: "DELETE",
                                          headers: {
                                                  "Content-Type": "application/json",
                                          },
                                          body: JSON.stringify({ fileName: this.currentTab }),
                            };
  
                            // 使用 splice 移除指定位置的元素
                            this.tabs.splice(index, 1);
                            this.file.splice(index, 1);
                            this.draw(this.tabs[0]);
                            if( this.tabs.length == 0 ){ //刪到沒分頁了
                              this.currentTab = '';
                              this.without_tab = true;
                            }
                            //送出刪除檔案api
                            const response = await fetch("/delete_file", options);
                            const json = await response.json();
                            //console.log(json);
                            if( json.status == 200 ){
                              Swal.fire({
                                title: "已刪除此分頁",
                                //text: "Your file has been deleted.",
                                icon: "success"
                              });
                            }
                          }
                        }
                      });
                    }
                  },
                });
  
                for(var i = 0; i < response.filename.length; i++){
                  app.component('tab-'+response.filename[i], {
                    template: `<div class="demo-tab">
                                    <div class="container">
                                      <div class="row">
                                        <div class="col-2"><button class="btn btn-secondary" @click="handleTop10HouseClick">住宅top10</button></div>
                                        <div class="col-2"><button class="btn btn-secondary" @click="handleTop10ServiceClick">服務業top10</button></div>
                                        <div class="col-2"><button class="btn btn-secondary" @click="handleTop10OtherClick">農林漁牧top10</button></div>
                                        <div class="col-2"><button class="btn btn-secondary" @click="handleTop10IndustryClick">工業top10</button></div>
                                        <div class="col-2"></div>
                                        <div class="col-2"><button class="btn btn-danger" @click="deleteClick">刪除此頁</button></div>
                                      </div>
                                    <div class="row">
                                      <div class="col-1"></div>
                                      <div class="col-10">
                                        <div class="top10_money2"></div>
                                      </div>
                                    </div>
                                </div></div>`,
                    methods: {
                      handleTop10HouseClick() {
                        this.$emit('top10-House-click');
                      },
                      handleTop10ServiceClick() {
                        this.$emit('top10-Service-click');
                      },
                      handleTop10OtherClick() {
                        this.$emit('top10-Other-click');
                      },
                      handleTop10IndustryClick() {
                        this.$emit('top10-Industry-click');
                      },
                      deleteClick(){
                        this.$emit('delete-click');
                      }
                    }
                  });
                }
                app.mount('#app');
  
                if( response.file.length != 0 ){
                  getData(response.file[0].data);
                }
          }catch (error) {
                  console.log('Error fetching CSV files:', error);
          }
        });
        
        d3.select(window).on('resize', function(){
          if( now_page == "top10A" ){
            updateDonut(top10A);
          }
          else if( now_page == "top10B" ){
            updateDonut(top10B);
          }
          else if( now_page == "top10C" ){
            updateDonut(top10C);
          }
          else{
            updateDonut(top10D);
          }
        });

        function BubbleSort(data,fieldname){
          for (let i = 0; i < data.length - 1; i++) {
            for (let j = 0; j < data.length - 1 ; j++) {
              if ( data[j][fieldname] < data[j+1][fieldname] ) {
                // 交換位置
                let temp = data[j];
                data[j] = data[j + 1];
                data[j + 1] = temp;
              }
            }
          }
          return data;
        }
      </script>
</body>
</html>